<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{block "title" .}}Home{{end}} | saturn-bot</title>
    <link rel="stylesheet" href="/ui/assets/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      {{block "breadcrumb" .}}{{end}}
      {{block "body" .}}Empty{{end}}
    </div>
  </section>
  </body>
  <script src="/ui/assets/js/funcs.js"></script>
  {{block "script" .}}{{end}}
</html>
