<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{block "title" .}}Home{{end}} | saturn-bot</title>
    <link rel="stylesheet" href="/ui/assets/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      {{block "breadcrumb" .}}{{end}}
      {{block "body" .}}Empty{{end}}
    </div>
  </section>
  </body>
  <script src="/ui/assets/js/funcs.js"></script>
  {{block "script" .}}{{end}}
</html>

{{define "pagination"}}
<nav class="pagination" role="navigation" aria-label="pagination">
  {{if eq .Page.PreviousPage 0}}
  <a class="pagination-previous is-disabled">Previous</a>
  {{else}}
  <a
    href="{{renderUrl .URL "page" .Page.PreviousPage "limit" .Page.ItemsPerPage}}"
    class="pagination-previous"
  >
    Previous
  </a>
  {{end}}
  {{if eq .Page.NextPage 0}}
  <a class="pagination-next is-disabled">Next page</a>
  {{else}}
  <a
    href="{{renderUrl .URL "page" .Page.NextPage "limit" .Page.ItemsPerPage}}"
    class="pagination-next"
  >
    Next page
  </a>
  {{end}}
  <ul class="pagination-list">
    {{if ge .Page.PreviousPage 2 }}
    <li>
      <a
        href="{{renderUrl .URL "page" 1 "limit" .Page.ItemsPerPage}}"
        class="pagination-link"
        aria-label="Goto page 1"
      >
        1
      </a>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    {{end}}
    {{if ge .Page.PreviousPage 1 }}
    <li>
      <a
        href="{{renderUrl .URL "page" .Page.PreviousPage "limit" .Page.ItemsPerPage}}"
        class="pagination-link"
        aria-label="Goto page {{.Page.PreviousPage}}"
      >
        {{.Page.PreviousPage}}
      </a>
    </li>
    {{end}}
    <li>
      <a
        class="pagination-link is-current"
        aria-label="Page {{.Page.CurrentPage}}"
        aria-current="page"
      >
        {{.Page.CurrentPage}}
      </a>
    </li>
    {{if gt .Page.NextPage 0}}
    <li>
      <a
        href="{{renderUrl .URL "page" .Page.NextPage "limit" .Page.ItemsPerPage}}"
        class="pagination-link"
        aria-label="Goto page {{.Page.NextPage}}"
      >
        {{.Page.NextPage}}
      </a>
    </li>
    {{end}}
    {{if and (lt .Page.NextPage .Page.TotalPages) (ne .Page.NextPage 0) }}
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a
        href="{{renderUrl .URL "page" .Page.TotalPages "limit" .Page.ItemsPerPage}}"
        class="pagination-link"
        aria-label="Goto page {{.Page.TotalPages}}"
      >
        {{.Page.TotalPages}}
      </a>
    </li>
    {{end}}
  </ul>
</nav>
{{end}}
