{{define "title"}}
Home
{{end}}

{{define "breadcrumb"}}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><a href="/ui" aria-current="page">Home</a></li>
  </ul>
</nav>
{{end}}

{{define "body"}}
<div class="columns">
  <div class="column is-half">
    <nav class="panel">
      <p class="panel-heading">Tasks</p>
      {{if .Tasks}}
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th>Task</th>
          </tr>
        </thead>
        <tbody>
          {{range .Tasks}}
          <tr>
            <td>{{.}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
      {{else}}
      <div class="panel-block">
        No tasks.
      </div>
      {{end}}
      <div class="panel-block">
        <a class="button is-link is-outlined is-fullwidth" href="/ui/tasks">
          View all tasks
        </a>
      </div>
    </nav>
  </div>
  <div class="column is-half">
    <nav class="panel">
      <p class="panel-heading">Recent runs</p>
      {{if .RecentRuns.Result}}
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th>Task</th>
            <th>Repositories</th>
            <th>Status</th>
            <th>Finished At</th>
          </tr>
        </thead>
        <tbody>
          {{range .RecentRuns.Result}}
          <tr>
            <td>{{.Task}}</td>
            <td>*</td>
            <td>
              <span class="tag {{.Status | runStatusToCssClass}}">{{.Status}}</span>
            </td>
            <td class="datetime">
              {{.FinishedAt | unixEpoch}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
      {{else}}
      <div class="panel-block">
        No recent runs.
      </div>
      {{end}}
      <div class="panel-block">
        <a class="button is-link is-outlined is-fullwidth" href="/ui/runs">
          View all runs
        </a>
      </div>
    </nav>
  </div>
</div>
{{end}}

{{define "script"}}
<script>
  formatDateTime(document);
</script>
{{end}}

{{ template "base.html" . }}
