{{define "title"}}Runs{{end}}

{{define "breadcrumb"}}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/ui">Home</a></li>
    <li class="is-active"><a href="/ui/runs" aria-current="page">Runs</a></li>
  </ul>
</nav>
{{end}}

{{define "body"}}
<div class="columns">
  <div class="column is-full">
    <form method="get" action="/ui/runs">
      <div class="field is-grouped is-horizontal">
        <p class="control">
          <div class="select">
            <select name="task" onchange="this.form.submit()">
              <option value="">All</option>
              {{range $name := .Filters.TaskNames}}
              <option value="{{$name}}"{{if eq $name $.Filters.TaskNameCurrent}} selected{{end}}>
                {{$name}}
              </option>
              {{end}}
            </select>
            <p class="help">Task</p>
          </div>
        </p>
        <p class="control">
          <div class="select">
            <select name="status" onchange="this.form.submit()">
              <option value="">All</option>
              {{range $status := .Filters.RunStatusList}}
              <option value="{{$status}}"{{if eq $status $.Filters.RunStatusCurrent}} selected{{end}}>
                {{$status}}
              </option>
              {{end}}
            </select>
            <p class="help">Status</p>
          </div>
        </p>
        <p class="control">
          <button class="button is-primary">
            Filter
          </button>
        </p>
      </div>
    </form>
  </div>
</div>
<div class="columns">
  <div class="column">
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Run</th>
          <th>Repositories</th>
          <th>Trigger</th>
          <th>Status</th>
          <th>Scheduled At</th>
          <th>Task</th>
        </tr>
      </thead>
      <tbody>
        {{range .Runs}}
        <tr>
          <td>
            <a href="/ui/runs/{{.Id}}">#{{.Id}}</a>
          </td>
          <td>*</td>
          <td>{{.Reason}}</td>
          <td>
            <span class="tag {{.Status | runStatusToCssClass}}">{{.Status}}</span>
          </td>
          <td class="datetime">
            {{.ScheduleAfter | unixEpoch}}
          </td>
          <td>
            <a href="/ui/tasks/{{.Task | pathEscape}}/results">{{.Task}}</a>
          </td>
        </tr>
        {{end}}
      </tbody>
      <tfoot>
        <tr>
        <td colspan="6">
          <b>Total:</b> {{.Pagination.Page.TotalItems}}
        </td>
      </tr>
      </tfoot>
    </table>
    {{ template "pagination" .Pagination }}
  </div>
</div>
{{end}}

{{define "script"}}
<script>
  formatDateTime(document);
</script>
{{end}}

{{ template "base.html" . }}
