{{define "title"}}New run{{end}}

{{define "breadcrumb"}}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/ui">Home</a></li>
    <li><a href="/ui/tasks">Tasks</a></li>
    <li>
      <a href="/ui/tasks/{{.TaskName | pathEscape}}/results">{{.TaskName}}</a>
    </li>
    <li class="is-active">
      <a href="/ui/tasks/{{.TaskName | pathEscape}}/run" aria-current="page">New run</a>
    </li>
  </ul>
</nav>
{{end}}

{{define "body"}}
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <form method="post">
      {{range .Inputs}}
      <div class="field">
        <label class="label">{{.Name}}</label>
        {{if .Options}}
        <div class="control">
          <div class="select">
            <select>
              {{range .Options}}
              <option>{{.}}</option>
              {{end}}
            </select>
          </div>
        </div>
        {{else}}
        <div class="control">
          <input class="input" name="{{.Name}}" type="text" placeholder="Text" {{if .Default}}value="{{.Default}}"{{end}} {{if .Validation}}pattern="{{.Validation}}"{{end}} required />
        </div>
        {{end}}
        <p class="help">
          {{.Description | markdown}}
          {{if .Validation}}
          Must match regular expression <code>{{.Validation}}</code>.
          {{end}}
        </p>
      </div>
      {{end}}
      <div class="field is-grouped">
        <div class="control">
          <input class="button is-primary" type="submit" value="Schedule new run" />
        </div>
        <div class="control">
          <a class="button" href="/ui/tasks/{{.TaskName | pathEscape}}/results">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
{{end}}

{{define "script"}}
<script>
function validateInputs(d) {
  for (let item of d.querySelectorAll('input[type="text"]')) {
    if (item.validity.valid === true) {
      item.classList.add("is-success");
    } else {
      item.classList.add("is-danger");
    }

    item.addEventListener("invalid", (e) => {
      item.classList.add("is-danger");
      if (e.target.validity.patternMismatch === true) {
        e.target.setCustomValidity('Must match regular expression ' + e.target.pattern);
      }
    });
    item.addEventListener("input", (e) => {
      e.target.setCustomValidity('');
      if (e.target.validity.valid === true) {
        e.target.classList.remove("is-danger");
        e.target.classList.add("is-success");
      } else {
        e.target.classList.add("is-danger");
        e.target.classList.remove("is-success");
        if (e.target.validity.patternMismatch === true) {
          e.target.setCustomValidity('Must match regular expression ' + e.target.pattern);
        }
      }
    });
  }
}
validateInputs(document);
</script>
{{end}}

{{ template "base.html" . }}
